body {
    background-color: #fffbf0; 
  }
  @media (min-width: 600px){
    .background {
      background-color: #fffbf0; 
      background-image: url("%PUBLIC_URL%/assent/home1.png"); 
      @supports (background-image: url("%PUBLIC_URL%/assent/home1.webp")) {
        background-image: url("%PUBLIC_URL%/assent/home1.webp");
      }
      background-repeat: repeat-y;
      background-size: contain;
    }
  }
  @media (max-width: 600px){
    .background {
      background-color: #fffbf0;
    }
  }